distributed
dask
h5py
h5netcdf
lfs
numpy
pandas
pint
pint_xarray
pyarrow
pydantic
rich
s3fs
s5cmd
scipy
sqlalchemy
uda
xarray
zarr
# git+ssh://git@git.ccfe.ac.uk/MAST-U/mastcodes.git@release/1.3.10#subdirectory=uda/python
